node_modules/
.next/
out/
.env*.local
*.tsbuildinfo
.DS_Store
.vercel
.env*
.venv/
__pycache__/
scripts/agent/__pycache__/
opencode.jsonc
.env.temp
# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
